{% extends "block.html.twig" %}

{% block content %}
  {% if site_logo %}
    <a id="logo-container" class="brand-logo" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img style="width:70px;height:70px; padding-top: 15px" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
