<div class="row">
    <div class="col m4 ">
      <div class="card">
        <div class="card-image">
          <img src="">
          {{content.field_image1}}
          <span class="card-title">{{field_title_image_card}}</span>
        </div>
        <div class="card-content">
          <p>{{content.field_image_card_description}}</p>
        </div>
        <div class="card-action">
          <a href="#">READ MORE</a>
        </div>
      </div>
    </div>
    <div class="col m4 ">
      <div class="card">
        <div class="card-image">
          <img src="">
          {{content.field_image2}}
          <span class="card-title">{{field_title2}}</span>
        </div>
        <div class="card-content">
          <p>{{content.field_image2_description}}</p>
        </div>
        <div class="card-action">
          <a href="#">READ MORE</a>
        </div>
      </div>
    </div>
    <div class="col m4 ">
      <div class="card">
        <div class="card-image">
          <img src="">
          {{content.field_image3}}
          <span class="card-title">{{field_title_3}}</span>
        </div>
        <div class="card-content">
          <p>{{content.field_image3_description}}</p>
        </div>
        <div class="card-action">
          <a href="#">READ MORE</a>
        </div>
      </div>
    </div>
  </div>