
<article{{ attributes }}>

  

  <div{{ content_attributes }}>
      <div class="col m4 ">
      <div class="card" style="height: 275px; margin-right: 5px; margin-left: 5px;">
        <div class="card-image">
          <img src="">
          {{content.field_image_of_person}}
        </div>
        <div class="card-action">
          <span class="card-title">{{content.field_name	}}</span>
          <p>{{content.field_academic_field}}</p>
        </div>   
      </div>
  </div>

</article>
